{{#extend "layout"}}

    {{#append "body"}}

        <span class="isHidden" data-smBreakpoint="{{bp.SM}}" data-mdBreakpoint="{{bp.MD}}" data-lgBreakpoint="{{bp.LG}}"></span>

    {{/append}}

{{/extend}}
