// ---------------------------------------------------------------------
// Variables
//
// Dependencies: _views, _functions
// ---------------------------------------------------------------------

// ---------------------------------------------------------------------
// Site Variables
// ---------------------------------------------------------------------

@import '_breakpoints';

// ---------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------

$FONT_FAMILY_ROBOTO: "Roboto", helvetica, arial, sans-serif;

$FONT_FAMILY_DEFAULT: $FONT_FAMILY_ROBOTO;

// ---------------------------------------------------------------------
// Font Sizes
// ---------------------------------------------------------------------

$FONT_SIZE_DEFAULT: rem(16);